&RUN_PARAMETERS
 RUN_NAME="exampleEtna",
 RESTART=T,
 T_START=  0.0000000000000000     ,
 T_END=  50.000000000000001E-00,
 DT_OUTPUT=  50.000000000000E-00,
 OUTPUT_CONS_FLAG=F,
 OUTPUT_ESRI_FLAG=T,
 OUTPUT_PHYS_FLAG=F,
 OUTPUT_RUNOUT_FLAG=T,
 VERBOSE_LEVEL=          0,
 /
&NEWRUN_PARAMETERS
 X0= 498813.0    ,
 Y0=  4175700.0     ,
 TOPOGRAPHY_FILE = './DEM/new_dem.asc' ,
 COMP_CELLS_X=  450,
 COMP_CELLS_Y=  350,
 CELL_SIZE = 10.D0    ,
 N_SOLID = 1 ,
 N_ADD_GAS = 0 ,
 RHEOLOGY_FLAG = T ,
 ENERGY_FLAG = F,
 TOPO_CHANGE_FLAG = F,
 GAS_FLAG = T,
 LIQUID_FLAG = F,
 RADIAL_SOURCE_FLAG = F,
 BOTTOM_RADIAL_SOURCE_FLAG = F,
 COLLAPSING_VOLUME_FLAG = F ,
 ALPHA_FLAG = T ,
 SUBTRACT_INIT_FLAG = F ,
 /
&RESTART_PARAMETERS
 RESTART_FILE ="./DEM/init_volume.asc" ,
 T_INIT = 373.D0 ,
 T_AMBIENT = 300.D0 ,
 SED_VOL_PERC = 50.0  ,
 u_init = ENSEMBLE_vx,
 v_init = ENSEMBLE_vy,
/ 
&WEST_BOUNDARY_CONDITIONS
 H_BCW%FLAG=          1,
 H_BCW%VALUE=  0.0000000000000000     ,
 HU_BCW%FLAG=          1,
 HU_BCW%VALUE=  0.0000000000000000     ,
 HV_BCW%FLAG=          1,
 HV_BCW%VALUE=  0.0000000000000000     ,
 ALPHAS_BCW%FLAG= 1,
 ALPHAS_BCW%VALUE=  0.D0     ,
 T_BCW%FLAG=          1,
 T_BCW%VALUE=  0.0000000000000000     ,
 /
&EAST_BOUNDARY_CONDITIONS
 H_BCE%FLAG=          1,
 H_BCE%VALUE=  0.0000000000000000     ,
 HU_BCE%FLAG=          1,
 HU_BCE%VALUE=  0.0000000000000000     ,
 HV_BCE%FLAG=          1,
 HV_BCE%VALUE=  0.0000000000000000     ,
 ALPHAS_BCE%FLAG= 1,
 ALPHAS_BCE%VALUE=  0.D0     ,
 T_BCE%FLAG=          1,
 T_BCE%VALUE=  0.0000000000000000     ,
 /
&SOUTH_BOUNDARY_CONDITIONS
 H_BCS%FLAG=          1,
 H_BCS%VALUE=  0.0000000000000000     ,
 HU_BCS%FLAG=          1,
 HU_BCS%VALUE=  0.0000000000000000     ,
 HV_BCS%FLAG=          1,
 HV_BCS%VALUE=  0.0000000000000000     ,
 ALPHAS_BCS%FLAG= 1,
 ALPHAS_BCS%VALUE=  0.D0     ,
 T_BCS%FLAG=          1,
 T_BCS%VALUE=  0.0000000000000000     ,
 /
&NORTH_BOUNDARY_CONDITIONS
 H_BCN%FLAG=          1,
 H_BCN%VALUE=  0.0000000000000000     ,
 HU_BCN%FLAG=          1,
 HU_BCN%VALUE=  0.0000000000000000     ,
 HV_BCN%FLAG=          1,
 HV_BCN%VALUE=  0.0000000000000000     ,
 ALPHAS_BCN%FLAG= 1,
 ALPHAS_BCN%VALUE=  0.D0     ,
 T_BCN%FLAG=          1,
 T_BCN%VALUE=  0.0000000000000000     ,
 /
&TEMPERATURE_PARAMETERS
 /
&NUMERIC_PARAMETERS
 SOLVER_SCHEME="KT",
 DT0 = 1.0E-2
 MAX_DT=  1.0000000000000000E-000,
 CFL= 0.240000000000000000     ,
 LIMITER= 6*3          ,
 THETA=  1.300000000000000     ,
 RECONSTR_COEFF=  1.0000000000000000     ,
 N_RK= 2,
 /
&EXPL_TERMS_PARAMETERS
 GRAV= 9.81     ,
 /
&RHEOLOGY_PARAMETERS
 RHEOLOGY_MODEL = 1,
 MU = ENSEMBLE_mu,
 XI = 300.0
 /
&RUNOUT_PARAMETERS
 DT_RUNOUT = 1.0,
 EPS_STOP = 0.0
/
&SOLID_TRANSPORT_PARAMETERS
 RHO_S = 2000.D0 ,
 DIAM_S = 1.0E-3,
 SP_HEAT_S = 1617.D0 , 
 SETTLING_FLAG = F ,
 EROSION_COEFF = 0.D0 ,
 /
&GAS_TRANSPORT_PARAMETERS
 SP_HEAT_A = 998.D0 ,
 SP_GAS_CONST_A = 287.051D0 ,
 KIN_VISC_A = 1.48D-5 ,
 PRES = 101300.D0 ,
 T_AMBIENT = 300.D0 ,
 ENTRAINMENT_FLAG = F ,
 /
&RUNOUT_PARAMETERS
 DT_RUNOUT = 300 ,
 EPS_STOP = 5.D-4 ,
 /
&VULNERABILITY_TABLE_PARAMETERS
 THICKNESS_LEVELS0 = 0.0 , 0.1 , 0.5 , 1.0 , 2.0 , 5.0 
 DYN_PRES_LEVELS0 = 0.0 , 1000.0 , 10000.0 , 50000.0 , 100000.0
 /

